/* Reset e estilo básico */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    text-align: center;
   
  }
    
  .carousel-container {
    position: relative;
    width: 50%;
    max-width: 800px;
    overflow: hidden;
    border: none;
    height: 50%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);


   
  }
  
  .carousel {
    display: flex;
    width: 100%;
    transition: transform 0.5s ease-in-out;
    cursor: pointer;
  }
  .carousel-item a {
    display: block;
    width: 50%;
    height: 50%;
    text-decoration: none;
    color: inherit;
  }
  
  .carousel-item img {
    width: 50%;
    height: auto;
    border-radius: 10px;
  }
  
  
  .carousel-item {
    min-width: 100%;
    position: relative;
  }
  
  .carousel-item img {
    margin-left: 10%;
    width: 80%;
    height: 50%;
    border-radius: 10px;
  }
  
  .caption {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
  }
  
  /* Botões de navegação */
  .carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(152, 171, 180, 0);
    color: #5b67887c;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    font-size: 24px;
    transition: background 0.3s;
    z-index: 10;
  }
  
  .carousel-button:hover {
    background: rgba(62, 101, 136, 0.178);
  }
  
  .carousel-button.prev {
    left: 10px;
  }
  
  .carousel-button.next {
    right: 10px;
  }
  
  /* Responsividade */
  @media (max-width: 600px) {
    .caption {
      font-size: 14px;
      padding: 8px 15px;
    }
  
    .carousel-button {
      font-size: 20px;
      padding: 8px;
    }
  }
  .navbar {
    background-color: #333;
    padding: 1em;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }
  
  .navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .navbar a {
    color: #fff;
    text-decoration: none;
  }
  
  .navbar a:hover {
    color: #ccc;
  }
  
  .navbar ul ul {
    display: none;
    position: absolute;
    background-color: #333;
    padding: 10px;
    border: 1px solid #333;
  }
  
  .navbar ul li:hover ul {
    display: block;
  }
  
  .navbar ul ul li {
    display: block;
    margin: 10px 0;
  }
  
  .navbar ul ul a {
    color: #fff;
    text-decoration: none;
  }
  
  .navbar ul ul a:hover {
    color: #ccc;
  }
  
  
.logo {
    position: absolute;
  top: 10px;
    left: -4px;
    width: 200px;
  }
  
  .logo img {
    width: 10px;
    height: 50px;
  }