    body, html {
        height: 100%; /* Garante que o body ocupe toda a altura da tela */
        margin: 0; /* Remove margens padrão */
    }
    a {
      color: white;
    }
    body, html {
      height: 100%; /* Garante que o corpo tenha altura total */
      margin: 0; /* Remove a margem padrão do body */
    }

    .container-login{
        display: flex; /* Flexbox no contêiner pai */
        justify-content: center; /* Centraliza horizontalmente */
        align-items: center; /* Centraliza verticalmente */
        height: 80%; /* Ocupa 100% da altura da tela */
    
    }
    .login-div{
      display: block;
      width: 400px;
      margin: 0 auto; /* Centraliza a div horizontalmente */
      background-color: rgba(38, 46, 70, 0.521);
      padding: 20px;
      text-align: center;
      font-size: 20px;
      margin-top: 0 auto;
      line-height: 0 auto;
      border-radius: 10px;
      
    }
    input{
        border: 100px;
        border-radius: 10px;
        right: 10px;
        width: 300px;
        height: 20px
    }
    /* Estilos do rodapé */
.footer {
  background-color: #222; /* Cor de fundo do rodapé */
  color: #fff; /* Cor do texto */
  padding: 20px 0;
  text-align: center;
  font-size: 14px;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.footer-links a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #364286; /* Cor de destaque ao passar o mouse */
}

.social-media a {
  margin: 0 10px;
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
}

.social-media a:hover {
  color: #3e5994;
}
button{
  border: 100px;
  border-radius: 10px;
  right: 10px;
  width: 300px;
  height: 20px
}